* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.headeradmin {
    background-color: #329A45;
    color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    margin-bottom: 10px;
}
.headeradmin h1{
    font-size: 2vw;
}
.menu_admin {
    background-color: #329A45;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_admin ul {
    padding: 0;
}

.menu_admin ul li {
    display: inline-block;
    padding: 0 10px;
}

.menu_admin ul li a {
    text-decoration: none;
    color: #fff;
}

.menu_admin ul li a:hover {
    color: #ff6600;
}
.home{
    text-decoration: none;
    color: #fff;
    padding-right: 10px;
    }
    .home:hover{
    color: #ff6600;
    }