/* HOME */
.mr-banner{
    margin: 0 20px;
}
.banner {
    width: 100%;
    min-width: 300px;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}
.banner img {
    width: 100%;
    height: 400px;
    border-radius: 4px;
}
.pre,
.next {
    cursor: pointer;
    position: absolute;
    top: 42%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease-in-out;
    border-radius: 0 3px 3px 0;
    border: none;
}
.pre:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.pre {
    left: 0;
    border-radius: 0 3px 3px 0;
}
/* end banner */
.row {
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
}

.card {
    margin-top: 5px;
    border: 1px solid black;
    text-align: center;
    padding: 20px 0px;
    border-radius: 7px;

}
.card:hover{
    border: 3px solid #009B48;
    border-radius: 7px; 
}

.card .imagesp {
    width: 200px;
    height: 200px;
}

.card-body .tensp {
    margin-top: 10px;
    height: 40px;

}

.card-body .tensp a {
    text-decoration: none;
    color: black;
    font-weight: bold;

}

.card-body .card-price {
    line-height: 50px;

}

.card-body .card-price span {

    color: #009B48;
    font-weight: bold;
}

.card-body .card-price del {

    color: black;
    font-size: 13px;
}

.card-body .themgio {

    border: 0px solid;
    background-color: white;
    color: #009B48;
    font-size: 14px;
}

.card-body .themgio:hover {

    color: red;
}

.top-home {
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
    border: 1px solid gray;
    justify-content: space-between;
    display: flex;
    padding: 50px 50px;
    gap: 50px;
}

.top-home .icon-top {
    border-right: 1px solid gray;
    font-size: 30px;
}

.top-home .icon-top p {
    font-size: 14px;
}

.top-home .icon-top4 p {
    font-size: 14px;
}

.top-home .icon-top4 {
    font-size: 30px;
}

.top-home .icon-top i {
    padding: 0px 90px;
}

.tieude {
    margin-top: 50px;
}































































/* FOOTER */
.footer {

    background-color: black;
    padding: 70px 70px;
    color: #fff;
    height: 350px;
}

.footer img {
    width: 200px;
}