.mb10 {
    margin-bottom: 10px;
}
.formds_loai table{
    width: 100%;
    border-collapse:collapse;
    
}
.formds_loai table td {
    padding:10px 20px;
    text-align: center;
}
.formds_loai table th {
    padding:10px 20px;
}
.formcontent input[type="submit"],
.formcontent input[type="reset"],
.formcontent input[type="button"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: white;
}
.formcontent input[type="submit"]:hover,
.formcontent input[type="reset"]:hover,
.formcontent input[type="button"]:hover {
    background-color: #329A45;
    color: #fff;
    border: none;
}