/* Header */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tahoma', Geneva, Verdana, sans-serif;
}
.container {
   width: 100%; 
   margin: 0 auto;
}
/* header */
.top-header{
height: 30px;
background-color: #009B48;
}
.bottom-header {
    border-bottom: 1px solid gainsboro;
    padding: 20px 0px 20px 60px;
    font-size: 20px;
    margin-bottom: 15px;
    display: flex;
}

.bottom-header img {
    width: 140px;
}
.timkiem-header{
    display: flex;
    justify-content: space-between;
}
.timkiem input[type="text"]{
    height: 45px;
    width: 500px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-left: 150px;
    padding-left: 5px;
    outline: none;
}
.timkiem input[type="submit"]{
    height: 45px;
    border: none;
    background-color: #dddddd;
    border-radius: 4px;
    padding: 0px 10px;
    cursor: pointer;
    margin-right: 150px;
}
.timkiem input[type="submit"]:hover{
background-color: #cccccc;
}
  /* dangky/dangnhap phần header */
.form-menu {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.form-menu a{
    text-decoration: none;
    color: #575757;
}
.form-menu a i{
border-radius: 30px;
border: 1px solid #cccccc;
padding: 8px;
}
.form-menu a:hover i{
background-color: #cccccc;
}
.form-menu .dn-header li{
list-style-type: none;
}
.header-tk a{
    font-size: 16px;
    color: black;
}
.header-tk a:hover{
    color: red;
}
/* MENU */
.menu {
    padding: 20px 0;
    background-color: #dddddd;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.menu .menu-row {
    display: flex;
    list-style: none;
}
.menu .menu-row .nav-item {
    padding-left: 20px;
    padding-right: 20px;
}
.menu .menu-row .nav-item a {
    text-decoration: none;
    font-size: 16px;
    color: #575757;
}
.menu .menu-row .nav-item a:hover {
    color: #17d570;
}
/* Hiển thị danh sách con khi hover vào mục cha */
.nav-item:hover .submenu {
    display: block;
}
.submenu {
    display: none;
    border-radius: 8px;
    background-color: #ffffff;
    position: absolute;
    list-style-type: none;
    z-index: 1;
    min-width: 130px;
    min-height: 100px;
}
  .submenu a {
    padding: 10px;
    text-decoration: none;
    display: block; /* Làm cho các mục menu con trở thành khối, để tạo khoảng cách giữa chúng */
  }
/* HOME */
.mr-banner{
    margin: 0 20px;
}
.banner {
    width: 100%;
    min-width: 300px;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}
.banner img {
    width: 100%;
    height: 400px;
    border-radius: 4px;
}
.pre,
.next {
    cursor: pointer;
    position: absolute;
    top: 42%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease-in-out;
    border-radius: 0 3px 3px 0;
    border: none;
}
.pre:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.pre {
    left: 0;
    border-radius: 0 3px 3px 0;
}
/* end banner */
.row {
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap:10px;
}

.card {
    min-height: 200px;
    margin-top: 5px;
    border: 1px solid black;
    text-align: center;
    padding: 20px 0px;
    border-radius: 7px;
    
}
.card:hover{
    border: 3px solid #009B48;
    border-radius: 7px; 
}

.card img{
    width: 60%;
    height: 60%;
}

.card-body .tensp {
    margin: 10px 0;
}

.card-body .tensp a {
    text-decoration: none;
    color: black;
}

.card-body .card-price {
    margin: 10px 0;
}

.card-body .card-price span {
    color: #009B48;
    font-weight: bold;
}

.card-body .card-price del {
    color: black;
    font-size: 13px;
}

.card-body .themgio {
    border: 0px solid;
    background-color: white;
    color: #009B48;
    font-size: 14px;
}

.card-body .themgio:hover {
    color: red;
}
/* end sản phẩm */
.top-home {
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
    border: 1px solid #ddd;
    display: flex;
    justify-content:space-between;
    padding: 15px;
    gap:15px;
}

.top-home .icon-top {
    border-right: 1px solid gray;
    font-size: 30px;
}

.top-home .icon-top p {
    padding-top: 20px;
    font-size: 14px;
    color: #009B48;
}
.top-home .nd{
font-weight: bold;
}
.top-home .icon2,
.top-home .icon3{
padding-right: 20px;
}
.top-home .icon4{
border: none;
}
.top-home .icon-top i {
    padding: 0px 90px;
}

.tieude {
    margin-top: 50px;
}
/* Sản phẩm chi tiết */
.chitiet-tong {
    padding: 50px 300px;
    margin-bottom: 50px;

}

.chitiet-row {
    display: flex;
    gap: 50px;
}

.chitiet-img {
    border: 1px solid gray;
    margin-bottom: 30px;
}

.chitiet-img img {
    width: 300px;
    padding: 20px 0px;
}

.chitiet-thongso li {
    list-style: none;
    padding: 5px 0px;
}

.chitiet-mota {
    width: 700px;
}

.chitiet-muahang {
    padding: 15px 20px;
    background-color: #009B48;
    text-align: center;
    margin-top: 110px;
    border-radius: 10px;

}

.chitiet-muahang:hover {
    background-color: red;

}

.chitiet-muahang a {
    text-decoration: none;
    color: white;

}
.binhluan {
    border: 1px solid gray;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.binhluan-name {
    margin-top: 100px;
}

.formbinhluan {
    padding: 20px 50px;
    float: right;
}

#nhap {
    height: 40px;
    width: 1300px;
}

.formbinhluan .nut-gui {
    background-color: #009B48;
    padding: 10px 10px;
    color: white;
    font-weight: bold;
}
.formbinhluan .nut-gui:hover {
    background-color: red;  
}
/* Form đăng nhâp/đăng ký */
#wrapper{
      display: grid;
      place-items: center;
      margin: 0;
      background-color: #fff;
}
#wrapper form{
border: 1px solid #dadce0;
border-radius: 4px;
padding: 30px;
box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
#wrapper h3{
text-align: center;
font-size: 24px;
font-weight: 500;
}
#wrapper .dk{
font-size: 15px;
}
#wrapper .dk:hover{
    cursor: pointer;
color: #1a73e8;
}
#wrapper a{
text-decoration: none;
color: black;
}
#wrapper .span{
font-size: 13px;
}
.form-group{
margin-bottom: 15px;
}
#wrapper input{
height: 50px;
width: 300px;
outline: none;
border: 1px solid #dadce0;
padding: 10px;
border-radius: 4px;
font-size: inherit;
color: #202114;
}
#wrapper input[type="text"]:focus,
#wrapper input[type="password"]:focus,
#wrapper input[type="email"]:focus{
	box-shadow: 0 0 1px 1.5px #1a73e8;
	color: #222; 
	outline: none; 
}
#wrapper form input[type="submit"]{
background: #1a73e8;
color: #fff;
cursor: pointer;
}
#wrapper form input[type="submit"]:hover{
opacity: 0.85;
}
.social-container {
    margin: 20px 0 5px 0;
}
.social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    text-decoration: none;
}
.social-container a:hover{
background-color: #dddddd;
}
#wrapper .mk{
text-align: right;
font-size: 14px;
}
#wrapper .mk:hover{
color: #1a73e8;
cursor: pointer;
}

/* Footer */
.footer {
    width: 100%;
    background: rgb(0, 0, 0, 0.79);
    height: 322px;
    margin-top: 150px;
    padding: 0px 63px;
    padding-top: 57px;
    display: flex;
    justify-content: space-around;
}
.footer img{
width: 140px;
}
.footer .box {
    width: 250px;
    color: #fff;
}
.footer .box .sdt{
margin-top: 10px;
color: #009B48;
font-weight: bold;
}
.footer .box .quick-menu {
    margin-top: 25px;

}
.footer .box .quick-menu .item {
    margin-bottom: 12px;

}
.footer .box .quick-menu,
.item a {
    color: #fff;
    text-decoration: none;
}
.footer .box form input {
    width: 294px;
    height: 42px;
    background: transparent;
    padding-left: 20px;
    color: #fff;
    margin-top: 30px;
}
.footer .box form button {
    background: #362f2f;
    box-shadow: 5px 5px 4px rgba(0, 0, 0.25);
    width: 163px;
    height: 38px;
    margin-top: 29px;
    color: #fff;
}